.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@font-face {
  font-family: Noto-Sans;
  src: url("NotoSans-VariableFont_wdth\,wght.ttf");
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.undiscovered {
  background-color: white;
  border: 2px solid lightgrey   
}

.not-in-word {
  background-color: grey;
  border: 2px solid black   
}

.almost-hint {
  background-color: yellow;
  border: 2px solid darkgoldenrod   
}

.correct {
  background-color: green;
  border: 2px solid darkgreen
}

.key {
  min-width: 2em;
  height: 2em;
  font-size: 26px;
  border-radius: 0.4em;
  margin: 2px;
  font-family: Noto-Sans;
}